@use "../../base/scss/global" as global;
@use "../../utilities/scss/variables" as variables;

#navbar {
	height: 10vh;
	font-size: 1rem;
	color: variables.$main-text-color;
	font-family: 'Jost';
	display: flex;
	justify-content: space-between;
	align-items: center;

	background-color: variables.$main-green;
	h1{
		margin-left: 60px;
		font-size: 3em;
		cursor: pointer;
	}

	.nav-links{
		display: flex;;
		list-style: none;
		margin-right: 60px;
		align-items: center;
		
		*{
			cursor: pointer;
		}

		li{
			font-size: 1.5em;
			display: inline-block;
			padding: 0px 10px;
			a{
				transition: all	0.3s ease 0s;
			}
		}

		li:hover{
			color: variables.$main-text-color-hover;
		}

		.profile-picture{
			margin-left: 30px;
			width: 7.5vh;
			height: 7.5vh;
			border-radius: 50%;
		}
	}

}
