@use "../../base/scss/global" as global;
@use "../../utilities/scss/variables" as variables;

<<<<<<< HEAD
*{
	box-sizing: border-box;
	margin:0;
	padding: 0;
}

#navbar {
	height: 75px;
=======
#navbar {
	height: 10vh;
	font-size: 1rem;
>>>>>>> footer
	color: variables.$main-text-color;
	font-family: 'Jost';
	display: flex;
	justify-content: space-between;
	align-items: center;

	background-color: variables.$main-green;
	h1{
		margin-left: 60px;
<<<<<<< HEAD
=======
		font-size: 3em;
>>>>>>> footer
		cursor: pointer;
	}

	.nav-links{
		display: flex;;
		list-style: none;
		margin-right: 60px;
		align-items: center;
		
		*{
			cursor: pointer;
		}

		li{
<<<<<<< HEAD
=======
			font-size: 1.5em;
>>>>>>> footer
			display: inline-block;
			padding: 0px 10px;
			a{
				transition: all	0.3s ease 0s;
			}
		}

		li:hover{
			color: variables.$main-text-color-hover;
		}

		.profile-picture{
			margin-left: 30px;
<<<<<<< HEAD
			width: 35px;
			height: 35px;
=======
			width: 7.5vh;
			height: 7.5vh;
>>>>>>> footer
			border-radius: 50%;
		}
	}

}
<<<<<<< HEAD
=======

>>>>>>> footer
