@use "../../base/scss/global" as global;
@use "../../utilities/scss/variables" as variables;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#navbar {
  height: 105px;
  color: variables.$main-text-color;
  font-family: "Jost";
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: variables.$main-green;
  h1 {
    margin-left: 60px;
    font-size: 4em;
    cursor: pointer;
  }

  .nav-links {
    display: flex;
    list-style: none;
    margin: 0;
    margin-right: 60px;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    * {
      cursor: pointer;
    }

    li {
      display: inline-block;
      padding: 0px 10px;
      margin: 0px 10px;
      a {
        transition: all 0.3s ease 0s;
      }
    }

    li:hover {
      color: variables.$main-text-color-hover;
    }

    .profile-picture {
      margin-left: 30px;
      width: 70px;
      height: 70px;
      border-radius: 50%;
    }
  }
}
