@use "../../base/scss/global" as global;
@use "../../utilities/scss/variables" as variables;

#footer{
	width: 100%;
	height: 150px;

	position: absolute;
	bottom: 50px;

	display: flex;
	align-items: center;
	justify-content: center;

font-family: 'Jost';

	.footer-content{
		width: 95%;
		height: 150px;

		background-color: variables.$main-grey;

		display: flex;
		justify-content: space-between;
		align-items: center;

		border-radius: 10px;

		*{
			height: 100px;
			width: 600px;
		}

		.news-letter{
			display: flex;
			flex-direction: column;
			align-items: center;
			text-align: center;
			justify-content: center;

			gap: 0px;

			margin: 0 50px;
			background-color: aqua;

			h2{
				padding: 0;
				margin: 0 0;
			}

			input{
				border-radius: 10px;
				border: 1px solid black;
			}
		}

		.footer-navigation{

			background-color: aqua;
		}

		.social-media-links{

			background-color: aqua;
			margin: 0 50px;
		}
	}


	
}