@use "../../base/scss/global" as global;
@use "../../utilities/scss/variables" as variables;

#footer{
	width: 100%;

	position: absolute;
	bottom: 10px;

	display: flex;
	align-items: center;
	justify-content: center;

	font-family: 'Jost';

	.footer-content{
		width: 95%;
		height: 15vh;

		background-color: variables.$main-grey;

		display: flex;
		justify-content: space-between;
		align-items: center;

		border-radius: 10px;

		margin: 0;
		padding: 0;

		*{
			height: 90%;
			width: 20%;
		}

		.news-letter{
			display: flex;
			flex-direction: column;
			align-items: center;
			text-align: center;
			justify-content: center;
			margin: 0 50px;

			h2{
				display: flex;
				justify-content: center;
				text-align: center;
				padding: 0;
				margin: 0;
				font-size: 1rem;
				white-space: nowrap;	
			}

			input{
				border-radius: 10px;
				border: 1px solid black;
				width: 75%;
				height: 20%;
			}
		}

		.footer-navigation{
			display: flex;
			flex-direction: column;
			
			ul{
				list-style: none;
				margin: 0 0;
				padding: 0;
			}
			
			li{
				cursor: pointer;
				margin: 0;
				padding: 0;
				font-size: 1rem;
				background: aqua;
			}
		}

		.social-media-links{
			
			margin: 0 50px;
		}
	}


	
}