@use "../../base/scss/global" as global;
@use "../../utilities/scss/variables" as variables;

#daten_container {
	color: black;
	font-family: 'Jost';
	padding: 10px;
	border-radius: 24px;
	margin-top: 5px;
	height: 285px;
	background: linear-gradient(
    to top,
    variables.$main-green-light 0%,
    variables.$main-green-light 84%,
	#8CC4A1 84%,
    #8CC4A1 100%)
}

#daten {
	color: black;
	display: grid;
  	grid-template-columns: 1fr 1fr 1fr;
}

.card{
	padding-top: 25px;
	padding-bottom: 0px; 
	align-content: space-around;
	height: 290px;
}

.inhalt{
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
