@use "../../base/scss/global" as global;
@use "../../utilities/scss/variables" as variables;

@scope {
  .main-container {
    height: 100vh;
    padding: 0;
    display: flex;
    flex-direction: column;

    position: relative;

    .container-fluid {
      height: 100%;
      padding: 30px;
    }

    .row {
      height: 100%;
    }

    .column {
      display: flex;
      justify-content: center;
      align-items: center;
      * {
        width: 90%;
        border-radius: 10px;
        background-color: variables.$main-green-light;
      }
    }

    .left-sidebar {
      height: 100%;
    }

    .main-content {
      height: 80%;
    }

    .right-sidebar {
      height: 100%;
    }
  }
}
