@use "../../base/scss/global" as global;
@use "../../utilities/scss/variables" as variables;

@scope {
  .main-container {
    height: 100vh;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: "Jost";

    .container-fluid {
      padding: 15px;
      flex-grow: 1;
    }

    .right-sidebar,
    .left-sidebar {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      & > div {
        margin: 10px 0;
        height: 45%;
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 10px;
        background-color: variables.$main-grey-light;
      }
    }

    .column {
      height: 68vh;
      display: flex;
      justify-content: center;
      align-items: center;
      & > div {
        width: 90%;
        border-radius: 10px;
        background-color: variables.$main-green-light;
      }

      .header-side-component {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 30px;
        width: 90%;
        text-align: center;
      }
    }

    .left-sidebar {
      .recommended-recipe {
      }
    }

    .main-content {
      max-height: 80%;
      padding: 30px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;

      .search-component {
        width: 100%;
        display: flex;
        justify-content: center;
        z-index: 100;
        position: relative;
        margin-bottom: 20px;
      }

      .category-listing {
        width: 90%;
        height: 50%;
        max-height: 50%;
        overflow-y: auto;
        margin-bottom: 20px;

        .row-of-category {
          padding: 0;
          margin: 0;
          width: 100%;
          & > * {
            padding: 0;
            margin: 10px 0;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
      }
    }

    .right-sidebar {
      .list {
        height: 90%;
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        max-height: 500px;
        overflow-y: auto;
        & > * {
          margin: 3px 0;
          width: 100%;
          display: flex;
          justify-content: center;
        }
      }
    }
  }

  @media screen and (max-width: 992px) {
    .main-content-row {
      & > div {
        height: 800px;
      }
    }
  }
}
