@use "../../base/scss/global" as global;
@use "../../utilities/scss/variables" as variables;

.ingredient-row {
  display: flex;

  button {
    border: none;
    background-color: white;
    color: red;
    border-radius: 10px;
    width: 20px;
    height: 20px;
    font-size: 0.8em;
    margin-left: 5px;
  }
}

.ingredient-comp {
  font-family: "Jost";
  display: flex;

  align-items: center;
  width: 80%;
  min-width: 225px;
  max-width: 400px;
  height: 20px;
  padding: 0 10px;
  * {
    color: white;
  }

  background-color: variables.$main-green;
  border-radius: 10px;

  .ingredient-with-amount {
    display: flex;
    align-items: center;
    margin: 0 10px;
    * {
      margin: 0 5px;
    }

    .ingredient-text {
      width: 75px;
      max-width: 75px;
      overflow-x: auto;
      white-space: nowrap;
    }
  }

  button {
    border: none;
    background-color: transparent;
  }

  input {
    width: 30px;
    height: 15px;
    background-color: transparent;
    border: none;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
