//COLORS
$main-green-dark: #022515;
$main-green: #085c36;
$main-green-light: #bcecc9;

$main-text-color: white;
$main-text-color-hover: #bbbbbb;

$main-grey: #d9d9d9;
$main-grey-light: #efededa6;

$main-red-dark: #6f0909;
$main-red: red;
$input-light-grey: rgb(233, 236, 239);
