// recipe-dropup.component.scss
.recipe-dropup {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    transition: transform 0.3s ease;
  
    &.hidden {
      transform: translateY(100%);
    }
  
    // Rest of your SCSS styling
  }